@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url("fonts/NunitoSans-ExtraBold.ttf");
    font-weight: normal;
    font-style: normal;
}

.logo-text {
    font-family: NunitoSans-ExtraBold;
    font-size: medium;
}

#home {
    margin-top: 100px;
}

.facebook
{
    background-repeat: no-repeat;
    background-position: 0% 30px;
    background-size: 200px;
    height: 300px;
}

.open-menu
{
    background-image: url('images/OpenMenu.png');
}

.saving-image-file
{
    background-image: url('images/SavingImageFile.png');
}