@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url("fonts/NunitoSans-ExtraBold.ttf");
    font-weight: normal;
    font-style: normal;
}

.logo-text {
    font-family: NunitoSans-ExtraBold;
    font-size: medium;
}

#home {
    margin-top: 100px;
}