@font-face {
    font-family: 'NunitoSans-Extrabold';
    src: url("fonts/NunitoSans-Extrabold.ttf");
    font-weight: normal;
    font-style: normal;
}

.logo-text {
    font-family: NunitoSans-Extrabold;
    font-size: medium;
}

#home {
    margin-top: 100px;
}